
.app {
  width: 100%;
  padding-top: 248px;

  h1 {
    font-family: "Helvetica Neue", serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 98px;
    color: #2E353B;
    font-style: italic;
    text-align: center;
  }

  P {
    font-size: 32px;
    color: #000;
    text-align: center;
    font-weight: bold;
  }

  h2 {
    text-align: center;
    color: #757E8F;
    font-weight: bold;
  }

}

.marquee {
  margin: 0 auto;
  width: 100%;
}

.imageList {
  display: flex;

  img {
    height: 64px;
    margin-right: 32px;
  }
}

.textList {
  display: flex;

  .textItem {
    font-size: 32px;
    margin-right: 32px;
    white-space: nowrap;
  }
}
